@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

.background-logo {
	-fx-background-image: url('../images/main_background.jpg');
    -fx-background-size: cover;
}

.text-roboto {
    -fx-font-family: Roboto-Regular;
}

.button-play {
    -fx-background-color: #0088cc;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-background-radius: 0;
}

.button-play:hover {
    -fx-background-color: #54c6ff;
}

.button-play:pressed {
    -fx-background-color: #00689c;
}

.button-play:disabled {
    -fx-opacity: 0.5;
}

.button-discord {
    -fx-background-color: #7289da;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-background-radius: 0;
}

.button-discord:hover {
    -fx-background-color: #97acf5;
}

.button-discord:pressed {
    -fx-background-color: #5c74c9;
}

.button-discord:disabled {
    -fx-opacity: 0.5;
}

.button-exit {
    -fx-background-color: transparent;
    -fx-text-fill: #ce1e1e;
    -fx-font-size: 14px;
    -fx-background-radius: 0;
}

.button-exit:hover {
    -fx-text-fill: #ec4c4c;
}

.button-exit:pressed {
    -fx-text-fill: #920303;
}

.button-exit:disabled {
    -fx-opacity: 0.5;
}


.progress-bar > .track {
    -fx-control-inner-background:#333333;
    -fx-text-box-border: #333333;
    -fx-background-radius: 0;
    -fx-background-insets: 4; 
}

.progress-bar:disabled {
    -fx-opacity: 0.5;
}

.progress-bar > .bar {
    -fx-background-color: #0093dd;
    -fx-background-radius: 0;
}